@{
    ViewBag.Title = "Register";
}
<h2>Register</h2>
<form action="/User/Register" method="post">
    <label>Username</label>
    <input type="text" name="Username" required />
    <label>Password</label>
    <input type="password" name="Password" required />
    <button type="submit">Register</button>
</form>
